.register-page {
    .tab {
        width: 1.14rem;
        padding: .5rem 0 .77rem 0;
        margin: 0 auto;
        line-height: .21rem;
        font-size: .18rem;

        &-item {
            display: inline-block;
            font-weight: bold;

            &-left {
            }
            &-right {
                float: right;
                color: #73D13D;
            }
            a {
                color: #242424;
                text-decoration: none;
            }
        }
    }

    .form {
        margin-bottom: .6rem;

        &-item {
            display: flex;
            padding: .16rem .3rem;
            line-height: .24rem;
            font-size: .16rem;

            &-title {
                width: 0.7rem;
                margin-right: .2rem;
            }
            &-content {
                flex: 1;
                border: none;
                outline: none;
                color: #242424;
            }
            &-content::placeholder {
                color: #D9D9D9;
            }
        }

    }

    .submit {
        margin: 0 .3rem .94rem .3rem;
        line-height: .5rem;
        border-radius: .25rem;
        background-color: #73D13D;
        box-shadow: 0 0.06rem 0.06rem 0 #D9F7BE;
        font-size: .16rem;
        color: #FFF;
        text-align: center;
    }
}
