/* * {
    padding: 0;
    margin: 0;
} */

/*
    1rem = html font-size 的大小
    如下所示 1rem === 100px
*/
/* html {
    font-size: 100px;
} */

* {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* input 去除背景色 */
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out background-color 99999s ease-out;
}

@font-face {
  font-family: "iconfont"; /* Project id 4633505 */
  src: url('//at.alicdn.com/t/c/font_4633505_n0qpeovqt6j.woff2?t=1721920824840') format('woff2'),
        url('//at.alicdn.com/t/c/font_4633505_n0qpeovqt6j.woff?t=1721920824840') format('woff'),
        url('//at.alicdn.com/t/c/font_4633505_n0qpeovqt6j.ttf?t=1721920824840') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
}
